#container {
    width: 400px;
    height: 500px;
    border-style: solid;
}

.calcInfo {
    margin: 15px 0px 0px 30px;
}

#screen {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 70px;
    border-style: solid;
    border-width: 2px;
    margin: 15px auto 15px auto;
    padding: 0px 0px 10px 0px;
}

.calc {
    margin: 10px 0px 0px 10px;
    font-size: 20px;
}

.display {
    margin: 0px 10px 0px 10px;
    font-size: 35px;
    text-align: right;
    align-items: center;
}

#btnContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 340px;
    height: 400px;
    margin: 30px auto 10px auto;
}
.upperBtns {
    display: flex;
    flex-direction: column;
}

.numberContainer {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.btn, .numBtn, .opBtn, .equalBtn, #decimalBtn {
    flex: 1;
    width: 80px;
    height: 60px;
    border-style: solid;
    margin: 0px 0px 0px 0px;
}

.zeroBtn {
    width: 160px;
}

